.login {
  width: 100vw;
}
.login_container {
  margin: 50px auto;
  width: 600px;
  height: 600px;
  box-shadow:
    0 5px 5px -5px #333,
    -5px 0 5px -5px #333,
    5px 0 5px -5px #333;
}

.login_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 30px auto;

  width: 100%;
  max-width: 1240px;
}
.login_header {
  font-size: 40px;
  color: #134f2c;
  font-weight: bold;

  margin-top: 60px;
  margin-bottom: 50px;
}

.login_item div {
  display: flex;
  align-items: center;
  cursor: pointer;

  padding-left: 20px;
  margin-bottom: 15px;
  width: 280px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid #134f2c;

  text-align: center;
  font-size: 20px;
  color: #134f2c;
}

.login_item input {
  border: none;
  margin-left: 50px;

  width: 200px;
  height: 30px;
}

.btn {
  display: flex;
  flex-direction: column;

  text-align: center;
}
.btn div {
  margin: 10px auto;
  margin-bottom: 0px;
}
.btn_join {
  display: flex;
  width: 100%;
  color: #134f2c;
}

.btn_signup {
  width: 300px;
  height: 50px;
  background-color: #134f2c;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  text-align: center;

  margin-bottom: 10px;
  margin-top: 20px;
}
.btn_signup:hover {
  background-color: #5ad98f4f;
  color: black;
  cursor: pointer;
}
