.Ranking {
}
.act_ranking_title {
  padding: 20px 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1240px;
  display: flex;
  align-items: center;
}
.act_ranking_container {
  margin: 0 auto;
  width: 100%;
  max-width: 1240px;
  height: 300px;
}
.act_ranking_wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 15px;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  max-width: 1240px;
}
.act_ranking_line {
  /* border-bottom: 1px solid black; */
  height: 1px;
  flex-grow: 1;
  /* width: 100%; */
  padding: 15px 0 15px 15px;
}
.act_ranking_item_1 {
  position: relative;
}
.act_ranking_item_1::before {
  content: '1';
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 30px;
  color: white;
  /* border: 1px solid white; */
  padding: 5px;
  font-weight: bold;
  /* background-color: rgba(160, 160, 160, 0.4); */
  /*  */
}
.act_ranking_item_2 {
  position: relative;
}
.act_ranking_item_2::before {
  content: '2';
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 30px;
  color: white;
  /* border: 1px solid white; */
  padding: 5px;
  font-weight: bold;
  text-shadow: 1px 1px 1px gray;
  /* background-color: rgba(255, 255, 255, 0.2); */
}
.act_ranking_item_3 {
  position: relative;
}
.act_ranking_item_3::before {
  content: '3';
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 30px;
  color: white;
  /* border: 1px solid white; */
  padding: 5px;
  font-weight: bold;
  /* background-color: rgba(255, 255, 255, 0.2); */
}
